**/__pycache__
**/.pytest_cache
**/.vscode
**/.ipynb_checkpoints
**/.idea
**/*.pyc
**/*.DS_Store
**/.mypy_cache

# Unit test / coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
